::root {
    --Outer-Radius: 1.5rem;
    --Inner-Radius: 1rem;
    --Border-Color: #000;
    --Background-Color: #fff;
    --Text-Color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    width: 400px;
    height: 400px;
}

.container {
    display: flex;
    padding: var(--Outer-Radius, 1.5rem) var(--Outer-Radius, 1.5rem) 2rem var(--Outer-Radius, 1.5rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: var(--Outer-Radius, 1.5rem);
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.top .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.top .header .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.top .header .icons {
    display: flex;
    align-items: flex-start;
    gap: var(--Inner-Radius, 0.75rem);
}

.logo .logo_text {
    color: var(--primary-main, #120B48);
    font-family: Sora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_text {
    color: var(--primary-primary-400, #413C6D);
    font-family: Work Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Outer-Radius, 1.5rem);
    width: 100%
}

.bottom .tabs {
    display: flex;
    padding: 0rem 2rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
}

.tabs>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.screen p {
    color: var(--primary-primary-200, #928FAB);
    font-family: Work Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
}

.tab p {
    color: var(--primary-main, #120B48);
    font-family: Work Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bottom .camera {
    display: flex;
    width: 15.75rem;
    padding: var(--Inner-Radius, 0.75rem) var(--Inner-Radius, 0.75rem) var(--Inner-Radius, 0.75rem) 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: var(--Inner-Radius, 0.75rem);
    border: 1px solid var(--primary-primary-600, #100A42);
}

.bottom .camera .case {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.camera .case p {
    color: var(--primary-primary-600, #100A42);
    font-family: Work Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.svg {
    display: flex;
    width: 2.25rem;
    height: 1.25rem;
    padding: 0.125rem;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--Inner-Radius, 0.75rem);
    background: var(--primary-main, #120B48);
}


.button {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: var(--Inner-Radius, 0.75rem);
    background: var(--primary-main, #120B48);
    color: #FAFDFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}